@import "./variables.scss";

.toolbar {
	height: $toolbar-height;
	background-color: $top-bar-color;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	z-index: 999;

	&__btn {
		height: 30px;
		width: 30px;
		border: none;
		outline: none;
		cursor: pointer;
		background-size: cover;
		margin-left: 15px;
		background-color: rgba(218, 218, 218, 0.623) !important;
		border-radius: 5px;

		&--active {
			background-color: rgba(21, 117, 129, 0.781) !important;
			border-radius: 5px;
			border: 1px solid rgba(0, 15, 46, 0.521);
		}

		&:hover {
			background-color: rgba(218, 253, 198, 0.596) !important;
			border-radius: 5px;
			border: 1px solid rgba(0, 15, 46, 0.521);
		}
	}
}

.brush {
	background: url('../assets/img/brush.svg') no-repeat center;
}

.rect {
	background: url('../assets/img/rect.svg') no-repeat center;
}

.circle {
	background: url('../assets/img/circle.svg') no-repeat center;
}

.eraser {
	background: url('../assets/img/eraser.svg') no-repeat center;
}

.line {
	background: url('../assets/img/line.svg') no-repeat center;
}

.palette {

}

.undo {
	margin-left: auto;
	background: url('../assets/img/undo.svg') no-repeat center;
}

.redo {
	background: url('../assets/img/redo.svg') no-repeat center;
}

.save {
	margin-right: 15px;
	background: url('../assets/img/save.svg') no-repeat center;
}

.setting-bar {
	height: $toolbar-height;
	background-color: $top-bar-color;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	top: $toolbar-height;
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
	color: rgb(10, 1, 10);
	label {
		margin: 0 10px 0 15px;
	}

.strokePalette {
	width: fit-content;
	height: fit-content;

	&:hover {
			background-color: rgba(218, 253, 198, 0.596) !important;
			border-radius: 5px;
			border: 1px solid rgba(0, 15, 46, 0.521);
		}
}

#stroke-color {
	width: 30px;
	height: 30px;
}

}